<% provide(:title, 'About') %>
<h2>CropCommand is data management app for agricultural producers.</h2>
<h5>I'm here to help you increase profits. You can keep up
  with crop cycles, track harvests and analyze yields.  All so that you can make
   informed management decisions based on realtime site-specific data.</h5>
<h4>Technologies utilized include:</h4>
<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
  <li><a href="http://rubyonrails.org/">Rails 4.2</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
  <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
</ul>
<h4>Graphics Design:</h4>
<ul>
  <li><a href="https://www.sketchapp.com/">Sketch 3</a></li>
  <li><a href="https://creativemarket.com/Gleb_Guralnyk/307929-Traveler-typeface">Traveler Font by Gleb Guralnyk</a></li>
  <li><a href="https://www.google.com/fonts">Google Fonts: Menlo, Monaco and Consolas. CDN</a></li>
  <li><a href="http://www.joeyappiephotography.com/">Photography by Joe Appie</a></li>
</ul>
