
<div class="text-center jumbotron">
<%= link_to image_tag('handsonly.png') %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
 <%= link_to image_tag('CropCommandLogoStacked.png') %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<%= link_to image_tag('handsonly.png') %>
</div>


