
<div class="text-center jumbotron">
  <img src="assets/handsonly.png">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <img src="assets/CropCommandLogoStacked.png">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <img src="assets/handsonly.png">
</div>
