
<div class="text-center jumbotron">
  <%= image_tag('handsonly.png') %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<!--   <img src="assets/CropCommandLogoStacked.png"> -->
  <%= image_tag('CropCommandLogoStacked.png') %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<!--   <img src="assets/handsonly.png"> -->
  <%= image_tag('handsonly.png') %>
</div>

