
<div class="text-center jumbotron">

  <h3>Howdy Farmer, I'm here to help you increase profits. You can keep up
  with crop cycles, track harvests and analyze yields so that you can make
   informed management decisions based on realtime site-specific data.</h3>
   <h1>Welcome to CropCommand.</h1>
     <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
  <br/>
</div>
